.gallery{
background-color:#902D3C;
height: 100%;
display: grid;
grid-template-columns: 1fr;

}


.gallery-title{
    width: 100%;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #DFD4B8;
}
.images-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 50px;

}
.image{
    width: 450px;
    height: 350px;
    transition: 1.5s;
}
.image:hover{
    opacity: 0.5;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) {
    .gallery-title{
        height: 10vh;
    }
    .images-container{
        flex-direction: column;
        margin-bottom: 0px;
        margin-top: 0px;


    }
    .image{
        width: 350px;
        height: 280px;
        margin-bottom: 20px;
    }

  
   
}