.menu2-body{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: brown;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    

}

.menu2{
    width: 50%;
    height: 100%;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("https://previews.123rf.com/images/lesik/lesik1402/lesik140200084/25741853-the-blank-background-of-the-old-menu-with-vintage-bottles.jpg");

}

.menu-header{
    width: 100%;
    height: 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color:#1a1a1a;
}

.menu-header-item{
    width: 55%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: black;
    background-image: url("https://thumbs.dreamstime.com/b/stone-natural-wallpaper-paper-texture-abstract-735055.jpg");

}
.menu-header-title{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;

}

.menu-section{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}



.menu-section-item{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
}
.menu-section-item-title{
    width: 80%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color:#1a1a1a;
    color: white;
}

.menu-sectio-item-text{
    margin-top: 20px;

}

.menu-section-specials{
    margin-top: 10%;
    width: 80%;
    height: 65%;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 50%;

}


@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) { 
    .menu2{
        width: 90%;
    }

    .menu-header{
        grid-template-columns: 1fr;
    }
    .menu-header-item{
        display: none;
        
    }
    .menu-section{
        grid-template-columns: 1fr;
        height: 100%;

    }
    .menu-section-item{
        height: 100%;
        margin-bottom: 30px;
    }
  
    .menu-section-item-title{
        height: 50px;
    }
    .menu-section-specials{
        margin-bottom: 30px;
        margin-top: 0px;
        height: 260px;
    }

}