.feedback-body{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    background-color: #262626;
}
.feedback-form-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    height: 100%;

}

.form{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 5px 15px 10px  #0f0e0e;
    border: solid 2px;
    border-radius: 20px;
    background-color: white;



}
.form h3{
    margin-top: 10px;
}
.form-input{
    width: 70%;
    height: 30px;
    margin-top: 30px;
    padding-left: 105px;
}

.feedback-stars{
    width: 95%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.star-option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background-color: brown;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-right: solid 2.5px white;
    transition: 0.5s;
    cursor: pointer;


}
.star-option:hover{
    opacity: 0.5;
}

.feedback-description{
    width: 90%;
    margin-top: 20px;
    height: 30%;
    padding-left: 150px;
}

.form-button{
    margin-top: 20px;
    width: 40%;
    height: 30px;
    background-color: brown;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: solid 1px brown;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 10px;



}
.form-button:hover{
    opacity: 0.5;
}

.message{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    color: brown;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;


}

.feedbacks-title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;

}


.feedbacks-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 120vh;
    justify-items: center;
    

}
.feedback-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    box-shadow: 5px 15px 10px  #0f0e0e;
    color: white;
    background-color: brown;
    height: 30%;
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 20px;



 

}
.card-img{
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.feedback-card-content{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;

}
.feedback-card-desc{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 60%;

}
.stars-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star{
    width: 20%;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) {
    .feedback-body{
        height: 100%;
    }
    .form{
        width: 80%;
        height: 100%;
    }
    .feedbacks-title{
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .feedbacks-container{
        grid-template-columns: 1fr;
        height: 100%;
    }
    .feedback-card{
        height: 300px;
        margin-bottom: 30px;
    }

}