.vodka-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: brown;
    margin-bottom: 40px;

}

.vodka-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: brown;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

 .item-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: solid 2px white;
    height: 45vh;
    margin-top: 40px;
}

.vodka-name{
color: white;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}

.vodka-img1{
    width: 230px;

}
.vodka-img2{
    width: 150px;

}
.vodka-img3{
    width: 130px;

}
.vodka-img4{
    width: 230px;

}


.vodka-price{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.space{
    height: 300px;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) {
    .vodka-container{
        grid-template-columns: 1fr ;
    }
    .vodka-container .item-container{
        border-right: none;
        margin-bottom: 30px;
        border-top: solid 0.5px white;
        margin-top: 20px;

    }
    .vodka-title-container{
        margin-top: 20px;
    }
    .space{
        display: none;
    }
}