.about-container{
    display:grid;
    width: 100%;

}

.about-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    background-image: url("https://cdn.vox-cdn.com/thumbor/Kh83ojtqjMgz5Y9N6lZBBvQEWi4=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/20051308/shutterstock_543360349.jpg");
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.about-header h1{
    font-size: 50px;
}

.about-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: brown;
    color: white;
    height: 60vh;
    margin-bottom: 20px;


}

.about-section2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: white;
    color: brown;
    height: 50vh;


}

.section-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    justify-content: space-around;
}

.card{
    width: 12%;
    border: solid 2px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}

.card-title{
    color: brown;

}

.card-img1{
    width: 70px;

}

.card-img2{
    width: 150px;

}
.card-img3{
    width: 25px;

}
.card-img4{
    width: 80px;

}

.about-section2 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: solid 2px;
    width: 20%;
    height: 18%;
    color: white;
    background-color: brown;
}




.phone-icon{
    color: white;
    transition: 1s;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-icon:hover{
    background-color: white;
    color: brown;

}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.logos-logo{
    width: 100px;
}
.logos-logo1{
    width: 150px;
}
.mail{
    background-color: white;
    color: brown;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.5s;
}
.mail:hover{
    opacity: 0.5;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) {
    .about-section{
        justify-content: center;
    }
    .section-card{
        flex-direction: column;
    }
    .card{
        width: 50%;
        height: 28vh;
        margin-bottom: 30px;

      
    }
    .about-section h1{
        margin-top: 20px;
    }
    .about-section{
        height: 100%;
    }

    .about-section2{
        height: 100%;
    
    
    }
    .about-section2 h1{
        margin-top: 50px;
    }

    .about-section2 h2{
        width: 70%;
        margin-top: 50px;
    }
    .logos{
        flex-direction: column;
    }


   


}

