.menu{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    height: 100%;
    justify-items: center;
    background-color: brown;


}
.menu-header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: brown;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.menu-item-wrap{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border: solid 4px white;
    width: 85%;
    box-shadow: 5px 15px 10px  #0f0e0e;
    margin-bottom: 40px;
    background-color: black;

}
.menu-item{
    display: flex;
    flex-direction: column;
    border: solid 2px white;
    width: 95%;
    justify-content: flex-start;
    align-items: center;
    height: 95%;
    background-color: black;

}
.price{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
}

.menu-item-title{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;

}


@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) { 
    .menu{
        grid-template-columns: 1fr;
        height: 100%;
    }
    .menu-item-wrap{
        width: 90%;
        margin-bottom: 30px;
        height: 70vh;
    }
    .price{
        font-size: 12px;
    }
  
}
