*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.child{
  background-color: brown;
  width: 50%;
  height: 20vw;
}



@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) {
  .div{
    background-color: blue;
  }
    
}


