.wisky-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #DFD4B8;
}

.wisky-container .item-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-right: solid 2px brown;
}
.wisky-title-container{
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color:#DFD4B8;
    color:brown;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.item-name{
color: brown;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
margin-top: 20px;

}

.wisky-img1{
    width: 60px;

}
.wisky-img2{
    width: 140px;

}
.wisky-img3{
    width: 180px;

}
.wisky-img4{
    width: 60px;

}


.item-price{
    color: brown;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.space{
    height: 300px;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) {
    .wisky-container{
        grid-template-columns: 1fr ;
    }
    .wisky-container .item-container{
        border-right: none;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .wisky-title-container{
    }
    .space{
        height: 0px;
    }
}