.div1{
    height: 100%;
    background-color:#902D3C;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.header-text{
    height: 500px;
    background-color: #902D3C;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;
    color: #DFD4B8;

    
}

.header-slider{
    height: 100%;
    margin-bottom: 20px;
    

}



.div1 h2{
    margin-right: 110px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}
.div1 h3{
    margin-right: 110px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;


}

.div2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 90px;
}
.div2-special{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 90px;
}





.item{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #DFD4B8;
    border-radius: 5px;
    margin: 10px;
    transition: 1s;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #902D3C;
}

.item:hover{
    opacity: 0.5;
}

.header-img{
    width: 0px;
    visibility: hidden;

}
.header-title{
    color: #DFD4B8;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    visibility: hidden;
    height: 0px;

}

@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) {
    .div1{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

    }
    .div2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 0px;
        align-items: center;
        justify-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .div1 h3{
        margin-right: 0px;
        margin-top: 5px;
       
    }
    .div1 h2{
        margin-right: 0px;
        margin-top: 10px;
    }
    .header-slider{
        height: 100%;
        margin-top: 50px;

    }
    .header-text{
        justify-content: center;
        align-items: center;
        height: 100%;

    }
    .special{
        width: 70%;
    }
    .div2-special{
        margin-right: 0px;
        justify-content: center;
    }
    .header-img{
        visibility: visible;
        width: 350px;
        border-radius: 48%;

    }
    .header-title{
        visibility: visible;
        height: 50px;
    
    }


}








