.div1{
    height: 500px;
    background-color: brown;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;

}

.div1 h2{
    color: white;
    margin-right: 110px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}
.div1 h3{
    color: white;
    margin-right: 110px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;


}

.div2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 90px;
}

.item{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background: white;
    border-radius: 10px;
    margin: 10px;
    transition: 1s;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.item:hover{
    background-color: brown;
    color: white;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) {
    .div1{
        justify-content: center;
        align-items: center;

    }
    .div2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 0px;
        align-items: center;
        justify-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .div1 h3{
        margin-right: 0px;
        margin-top: 5px;
       
    }
    .div1 h2{
        margin-right: 0px;
        margin-top: 10px;
    }


}








